.fundoCadastro {
    background-image: url("https://ik.imagekit.io/b9medhm86/fotografias.jpg?updatedAt=1740161506542");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }