.fundoLogin {
    background-image: url("https://ik.imagekit.io/b9medhm86/polaroids.jpg?updatedAt=1740161506557");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}